pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: #a9b7c6;
  background: #282b2e
}

.hljs-bullet,.hljs-literal,.hljs-number,.hljs-symbol {
  color: #6897bb
}

.hljs-deletion,.hljs-keyword,.hljs-selector-tag {
  color: #cc7832
}

.hljs-link,.hljs-template-variable,.hljs-variable {
  color: #629755
}

.hljs-comment,.hljs-quote {
  color: grey
}

.hljs-meta {
  color: #bbb529
}

.hljs-addition,.hljs-attribute,.hljs-string {
  color: #6a8759
}

.hljs-section,.hljs-title,.hljs-type {
  color: #ffc66d
}

.hljs-name,.hljs-selector-class,.hljs-selector-id {
  color: #e8bf6a
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

body {
  font-family: monospace;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.thread {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

h1, h2, h3, h4, h5, p {
  margin: 0px;
}

pre {-moz-tab-size: 4;}
pre {
  tab-size: 4;
  white-space: pre-wrap;
  margin: 0px;
}

details pre {
  margin-top: 8px;
}

.call {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;

  display: flex;
  gap: 8px;
  flex-direction: column;
}

pre code {
  border-radius: 5px;
  font-size: 12px;
}

.call h2, .call .call-name {
  font-family: monospace;
  font-size: 16px;
  margin: 0px;
}

.call .call {
  background: #ddd;
  border: 1px solid #bbb;
}

.call .hljs-ln tr:nth-child(3) td {
  background: hsla(0, 87%, 63%, 0.25);
}

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #666;
}

.hljs-ln-n {
  padding-right: 5px;
  margin-right: 5px;
}

.hljs-ln-code {
    padding-left: 10px;
} 

.source {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

summary {
	font-weight: 800;
	font-size: 16px;
}

summary:hover {
	cursor: pointer;
}