.source {
  background-color: #282b2e;
  padding: 0.5em 0em;
  border-radius: 2px;
}

a {
  color: #cc7832;
}

pre {
  background-color: #282b2e;
  padding: 0em 0.5em;
}

pre.last-line {
  background-color: hsla(0, 87%, 63%, 0.25);
}

pre code.hljs {
  display: block;
  overflow-x: auto;
}

pre code.hljs.indent {
  padding-left: 5em;
  text-indent: -5em;
}

.hljs {
  color: #a9b7c6;
}

.hljs-bullet,.hljs-literal,.hljs-number,.hljs-symbol {
  color: #6897bb
}

.hljs-deletion,.hljs-keyword,.hljs-selector-tag {
  color: #cc7832
}

.hljs-link,.hljs-template-variable,.hljs-variable {
  color: #629755
}

.hljs-comment,.hljs-quote {
  color: grey
}

.hljs-meta {
  color: #bbb529
}

.hljs-addition,.hljs-attribute,.hljs-string {
  color: #6a8759
}

.hljs-title {
  color: #bbb529
}

.hljs-section,.hljs-type {
  color: #ffc66d
}

.hljs-name,.hljs-selector-class,.hljs-selector-id {
  color: #e8bf6a
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}

body {
  background: #1a1c1e;
  color: #a9b7c6;
  font-family: monospace;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.thread {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

h1, h2, h3, h4, h5, p {
  margin: 0px;
}

pre {-moz-tab-size: 4;}
pre {
  tab-size: 4;
  white-space: pre-wrap;
  margin: 0px;
}

details pre {
  margin-top: 0px;
}

.call {
  background: #42464a;
  border-radius: 5px;
  padding: .8em 0em;
  color:#eaeaea;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  border: #42464a solid 1px;
}

pre code {
  font-size: 12px;
}

.call h2, .call .call-name {
  font-family: monospace;
  font-size: 12px;
  margin: 0em 1em;
}

.call .call {
  /* background: #ddd; */
  /* border: 1px solid #bbb; */
  margin: 0.5em;
  padding: 0.5em 0em;
}

.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #666;
}

.hljs-ln-n {
  padding-right: 5px;
  margin-right: 5px;
}

.hljs-ln-code {
    padding-left: 10px;
} 

summary {
	font-weight: 800;
	font-size: 16px;
}

summary:hover {
	cursor: pointer;
}